:root {
    --red-col: red;
    --white-col: white;
}



body {
    text-align: center;
    font-family: 'Arial';

    color: var(--white-col);
    background-image: linear-gradient(45deg, red, white);

}

header {
    text-align: right;
    vertical-align: top;
    margin: 30px;
}

footer {
    text-align: center;
    border: solid 3px var(--white-col);
    margin: 80px;
    padding: 20px;
}


.grid {
    display: grid;

    gap: 10px;
    margin: 30px;
    grid-template-areas:
        "a c"
        "b a1"
}

.first {
    grid-area: a;
    color: white;

}


.second {
    grid-area: b;
    color: black;
}

.third {
    grid-area: c;
    color: black;
}



.box {
    padding: 20px;
    justify-content: center;
    align-items: center;
    border: none;
    margin: 0px;
}


.animated {
    animation: wobble 1s ease-in-out infinite alternate;
    transform-origin: center center;
}

@keyframes wobble {
    0% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(20deg);
    }
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

.item {
    background: blue;
    padding: 20px;
    color: white;
}

.stemdef {
    background-image: linear-gradient(45deg, blue, white);
}